@model IEnumerable<ClientApplication.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Vehicle Index</h1>
    <div class="d-flex justify-content-around">
        <p>
            <a asp-action="Add">Add Vehicle</a>
        </p>
        <p>
            <a asp-action="Index" asp-controller="Cart">My Cart</a>
        </p>
        <p>
            <a asp-action="Logout" asp-controller="User">@ViewData["Status"]</a>
        </p>
    </div>
        <div class="container pt-3">
            @foreach (var item in Model)
            {
                <div class="row media mt-3 shadow">
                    <div class="col-sm-3 d-flex justify-content-center">
                        <img class="card-img" src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" height="150" width="200" />
                    </div>
                    <div class="col-sm-9 media-body align-content-end text-center">
                        <h3 class="card-title m-0">@item.Name</h3>
                        <p class="card-text m-0"><strength>Rent Per Hour -- </strength>@item.RentPerHour</p>
                        <p class="card-text m-0">@item.Color</p>
                        <p class="card-text m-0"><strength>Available -- </strength>@item.Available</p>
                        <p class="card-text m-0">@item.Category</p>
                        <p class="card-text m-0">@item.Brand</p>
                        <a class="stretched-link" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"></a>
                    </div>
                </div>
            }
        </div>

    </div>